<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список городов</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/scripts.js}"></script>
</head>
<body>
<h1>Список городов</h1>
<a th:href="@{/cities/ui/cities/add}" class="action-btn">Добавить город</a>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    <tr th:each="city : ${cities}">
        <td th:text="${city.id}">ID</td>
        <td th:text="${city.name}">Название</td>
        <td>
            <a th:href="@{/cities/ui/cities/{id}(id=${city.id})}" class="action-btn">Подробнее</a>
            <a th:href="@{/cities/ui/cities/edit/{id}(id=${city.id})}" class="action-btn">Редактировать</a>
            <form th:action="@{/cities/ui/cities/delete/{id}(id=${city.id})}" method="post" class="delete-form">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>